@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-yellow: #feffdf
  --background-green: #97cba9;
}

body {
  background-color: #feffdf;
}

input {
  @apply rounded-md p-1;
}

.btn {
  @apply bg-blue-600 hover:bg-blue-500 text-white font-bold mx-2 my-1 py-2 px-4 rounded;

}

.chkbx {
  @apply m-4 w-4 h-4 border border-gray-300 bg-white checked:bg-blue-500;
}

.background-green {
  background-color: #97cba9;
}

.sidebar {
  @apply rounded-3xl mx-4 pb-8 pt-4 w-screen text-center;
}

.recipes {
  @apply rounded-3xl my-8 mr-4 pb-8 pt-4 w-screen md:w-10/12;
}

